body {
    background: #2C2B3D;
    margin: 0px 89px 0px 99px;
    padding-top: 71px;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    height: 30px;
    
}
nav h2 {
    color: #FFF;
    text-align: center;
    font-family: JetBrains Mono;
    font-size: 24px;
    font-style: normal;
    line-height: 28px; 
}

nav h2 img {
    width: 13px;
    height: 16px;
}

nav ul {
    display: flex;
    gap: 64px;
    margin: 0px;  
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #FFF;
    text-align: center;
    font-family: JetBrains Mono;
    font-size: 14px;
    font-style: normal;
    line-height: 28px; 
}

main {
    display: flex;
    justify-content: space-between;
    margin: 100px 0px 157px 0px;
    margin-top: 107px;
}
main section h1 {
    font-size: 36px;
    line-height: 40px;
    font-family: 'JetBrains Mono', monospace;
    font-weight: normal;
    text-align: center;
    color: #FFF;
    
}
main section h1 span {
    font-weight: bold;
    color: #00BFA6;
}
main section p {
    line-height: 28px;
    font-size: 16px;
    width: 604px;
    height: 168px;
    color: #C2C2C2;
    text-align: center;
    font-style: normal;
    
}

main section p span {
    color: #00BFA6;
    font-weight: bold;
}
footer {
    text-align: center;
    color: #FFF;

    font-family: JetBrains Mono;
    font-size: 14px;
    font-style: normal;
    line-height: 28px; 
}
footer a {
    text-decoration: none;
    color: #fff;
}
#line {
    width: 568px;
    height: 0px;
    border: 1px #00BFA6 solid;
    margin: 0 auto 27px;
    
}

#cadeado {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 51px;
    height: 62px;
}